<!DOCTYPE html>
<html>
<head>
  <title>Geo</title>
  <%= stylesheet_link_tag :all %>
  <%= csrf_meta_tag %>
  <%= javascript_include_tag "application.js" %>
  <%= javascript_include_tag "jquery.min.js" %>
  <%= javascript_include_tag "selectBoxFill.js" %>
  
</head>
<body>

<%= yield %>

</body>
</html>
